<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>762680940628-sq9ein7obodf3p62m9ngf650rtvgamje.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762680940628-sq9ein7obodf3p62m9ngf650rtvgamje</string>
	<key>API_KEY</key>
	<string>AIzaSyBi3VFuFBnlWsAC07EIv-T_Fw55MYrDAZI</string>
	<key>GCM_SENDER_ID</key>
	<string>762680940628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AliceYeh.EduCoin</string>
	<key>PROJECT_ID</key>
	<string>educoin-8e7ff</string>
	<key>STORAGE_BUCKET</key>
	<string>educoin-8e7ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762680940628:ios:78f6f45024a94bfb0335c1</string>
	<key>DATABASE_URL</key>
	<string>https://educoin-8e7ff.firebaseio.com</string>
</dict>
</plist>